# Normalize line endings
* text=auto

# Include code files in language stats
*.py linguist-detectable=true
*.ipynb linguist-detectable=true
Dockerfile linguist-detectable=true

# Exclude non-code or config files
*.html linguist-detectable=false
*.pkl linguist-detectable=false
*.csv linguist-detectable=false
*.txt linguist-detectable=false
