# Normalize line endings
* text=auto

# Explicitly tell GitHub Linguist which files to detect
*.py linguist-detectable=true
Dockerfile linguist-detectable=true

# Optional: prevent large/non-code files from being counted
*.pkl linguist-detectable=false
*.h5 linguist-detectable=false
*.csv linguist-detectable=false
*.json linguist-detectable=false